html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
