html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.app{

  &__section-header {
    @include h1 ('phone');

    @include breakpoint ('from-tablet') {
      @include h1 ('desktop');
    }
  }

}
