@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  font-family: Roboto;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
