.footer {
  @include main-section-padding ('desktop');
  @include paragraph ('mobile');
  color: $white;
  background: $theme-dark;
  
  @include breakpoint ('from-tablet') {
    @include paragraph ('desktop'); 
  }

  &__content {
  }

  &__top,
  &__middle,
  &__bottom {
    @include row;
    flex-direction: column;

    @include breakpoint ('from-tablet') {
      flex-direction: row;
    }
  }

  &__top {
    margin-bottom: 32px;
  }

  &__middle {
    margin-bottom: 16px;
  }

  &__header {
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;
    margin-bottom: 24px;

    @include breakpoint ('from-tablet') {
      @include col (25%);
    }
  }

  &__mid-subheader {
    @include h3 ('phone');
    font-weight: bold;
    
    @include breakpoint ('from-tablet') {
      @include h3 ('phone');
    }
  }

  &__social-block {
    display: flex;
    justify-content: space-between;
    width: 160px;
  }

  &__logo {
    display: none;

    @include breakpoint ('from-tablet') {
      display: block;
      width: 120px;
      height: 24px;
      margin-left: auto;
    }
  }

  &__mid-col {
    @include breakpoint ('from-tablet') {
      @include col (25%);
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;

    @include breakpoint ('from-tablet') {
      flex-direction: row;
    }
  }
}

