$_gutter-width: 24px;
$_gutter-width-half: $_gutter-width * 0.5;
$_gutter-compensation: $_gutter-width-half * -1;

@mixin row  {
  margin-left: $_gutter-compensation;
  margin-right: $_gutter-compensation;
}

@mixin col {
  margin-left: $_gutter-width-half;
  margin-right: $_gutter-width-half;
}
