$_gutter-width: 24px;

@mixin row  ($gutter: $_gutter-width) {
  display: flex;
  flex-wrap: wrap;
  margin-left: $gutter / -2;
  margin-right: $gutter /-2;
}

@mixin col ($gutter: $_gutter-width) {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}
