$_gutter-width: 24px;
$_gutter-compensation: $_gutter-width * -1;

@mixin row  {
  margin-left: $_gutter-width;
  margin-right: $_gutter-width;
}

@mixin col {
  margin-left: $_gutter-compensation;
  margin-right: $_gutter-compensation;
}
