.hero {
  height: 56vw; // 183px at 320
  min-height: 183px;
  max-height: 670px;
  background-color: rgba(50,50,50,0.5);
  background-image: url('/assets/images/Hero.jpg');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__header {
    font-size: 7.5vw; // 24px at 320
    line-height: 10vw; // 32px at 320
    font-weight: 900;
    color: $white;

    @include breakpoint ('phone') {
      font-size: 24px;
      line-height: 32px;
    }

    @include breakpoint ('from-tablet') {
      font-size: 60px;
      line-height: 68px;
    }
  }
}
