.about {
  @include main-section-padding ('phone');

  @include breakpoint ('from-tablet') {
    @include main-section-padding ('desktop');
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__responsive-wrapper {
    @include breakpoint ('desktop') {
      @include col (83.3333%);
      margin: 0 auto;
    }
  }

  &__image-wrapper {
    @include row;
    margin-bottom: 24px;
  }

  &__quote {
    margin-bottom: 40px;

    @include breakpoint ('from-tablet') {
      margin-bottom: 56px;
    }

    & > p {
      @include type ('h2', 'phone', 900);
      margin-bottom: 32px;

      @include breakpoint ('from-tablet') {
        @include type ('h2', 'desktop');
        margin-bottom: 40px;
      }

      &::before {
        content: open-quote;
      }

      &::after {
        content: close-quote;
      }
    }

    & > footer {
      @include type ('h3', 'phone', 700);
      font-style: normal;
      &::before {
        content: "-"
      }
    }
  }

  &__sub {
    @include type ('h2', 'phone', 900);
    margin-bottom: 24px;

    @include breakpoint ('from-tablet') {
      @include type ('h2', 'desktop');
      margin-bottom: 32px;
    }
  }

  &__type {
    @include row;
    flex-direction: column;

    @include breakpoint ('from-tablet') {
      @include row (40px);
      flex-direction: row;
    }

    & p {
      margin-bottom: 16px;

      @include breakpoint ('from-tablet') {
        margin-bottom: 0;
      }
    }

    &--col {
      @include breakpoint ('from-tablet') {
        @include col (50%);
      }
    }
  }
}

.gallery {
  @include main-section-padding ('phone');

  @include breakpoint ('from-tablet') {
    @include main-section-padding ('desktop');
    padding-bottom: 16px;
  }

  &__wrapper {
    @include row;
    flex-direction: column;

    @include breakpoint ('from-tablet') {
      flex-direction: row;
      padding-top: 16px;
    }
  }

  &__image {
    margin-bottom: 16px;

    @include breakpoint ('from-tablet') {
      @include col (33.3333%);
      margin-bottom: 24px;
    }
  }
}

.comments {
  @include main-section-padding ('phone');

  @include breakpoint ('from-tablet') {
    @include main-section-padding ('desktop');
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__responsive-wrapper {

    @include breakpoint ('from-tablet') {
      width: 66.6666%;
      margin: 0 auto;
    }

    @include breakpoint ('desktop') {
      width: 50%;
    }
  }
}

.comment {
  flex-grow: 1;

  &-submit {
    display: flex;
    padding-top: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    & > * {
      width: 100%;
    }

    & label {
      @include type ('h5', 'phone');
      font-weight: 700;
      text-transform: uppercase;
      color: $neutral-67;
      margin-bottom: 8px;

      @include breakpoint ('from-tablet') {
        @include type ('h5', 'desktop');
      }
    }

    & input[type="text"],
    textarea, {
      @include type ('p', 'desktop');
      padding: 16px;
      background: $neutral-95;
      margin-bottom: 24px;
      border: 1px solid $neutral-90;
      border-radius: $border-radius-default;

      @include breakpoint ('from-tablet') {
        @include type ('p', 'desktop');
      }

      &:focus {
        outline: none;
        border: 2px solid $neutral-20;
      }
    }

    input[type="text"] {
      height: 48px;
    }

    & textarea {
      height: 96px;
      resize: none;
    }
  }

  &__submit-button {
    height: 48px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    background: $neutral-20;
    border: none;
    border-radius: $border-radius-default;

    @include breakpoint ('from-tablet') {
      align-self: flex-end;
      max-width: 160px;
    }

    &:hover {
      background: $black;
      cursor: pointer;
    }
  }

  &-list {
    padding-bottom: 8px;
  }

  &__divider {
    max-width: 288px;
    height: 1px;
    margin: 20px auto;
    background: $neutral-90;

    @include breakpoint (tablet) {
      max-width: 720px;
    }

    @include breakpoint (desktop) {
      max-width: 1080px;
    }
  }

  &-wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__avatar {
    @include col;
    width: 54px;

    & > img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: $neutral-90;
      object-fit: cover;
    }
  }

  &__body {
    @include col;
    flex: 1;
  }

  &__author-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__author {
    @include type ('p', 'phone', 600);
    line-height: 1;
  }

  &__time {
    @include type ('p', 'phone', 600);
    line-height: 1;
    color: $neutral-67;
  }

  &__content {

  }
}
