.shows {
  @include main-section-padding ('phone');

  @include breakpoint ('from-tablet') {
    @include main-section-padding ('desktop');
  }

  &__hero {
    min-height: 183px;
    max-height: 670px;
    background-color: rgba(50,50,50,0.5);
    background-image: url('/assets/images/Hero.jpg');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint ('desktop') {
      height: 56vw; // 183px at 320
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 64px;
    padding-bottom: 48px;

    @include breakpoint ('from-tablet') {
      padding-top: 96px;
      padding-bottom: 80px;
    }

    @include breakpoint ('desktop') {
      flex-direction: row;
      justify-content: space-between;
      height: fit-content;
    }
  }


  &__header {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 64px;

    @include breakpoint ('from-tablet') {
      align-self: flex-start;
      width: 83.3333%;
      font-size: 58px;
      line-height: 68px;
    }

    @include breakpoint ('desktop') {
      align-self: flex-end;
      width: 50%;
      margin-bottom: 0;
    }

    &-pre {
      font-size: 14px;
      line-height: 20px;
      font-weight: 900;
      margin-bottom: 16px;

      @include breakpoint ('from-tablet') {
        @include type ('h2', 'desktop');
      }
    }
  }

  &__hero-player {
    width: 100%;;
    max-width: 436px;
    height: 146px;

    @include breakpoint ('tablet') {
      align-self: flex-start;
    }

    @include breakpoint ('desktop') {
      align-self: flex-end;
    }
  }
}

