// responsive breakpoints

@mixin breakpoint ($value, $min-value: null) {

  @if $value == 'phone-small' {
    @media only screen and (max-width: 320px) { @content; }
  }

  @else if $value == 'phone' {
    @media only screen and (max-width: 320px) { @content; }
  }

  @else if $value == 'to-tablet' {
    @media only screen and (max-width: 1199px) { @content }
  }

  @else if $value == 'tablet' {
    @media only screen and (min-width: 768px) and (max-width: 1199px) { @content }
  }

  @else if $value == 'from-tablet' {
    @media only screen and (min-width: 768px) { @content }
  }

  @else if $value == 'desktop' {
    @media only screen and (min-width: 1200px) { @content }
  }

  @else if $min-value != null {
    @media only screen and (min-width: $min-value) and (max-width: $value){ @content }
  }

  @else {
    @media only screen and (max-width: $value) { @content; }
  }
}

// layout

@mixin main-section-padding ($value) {

  @if $value == 'phone' {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @else if $value == 'desktop' {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

// typography

@mixin h1 ($value) {

  @if $value == 'phone' {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  @else if $value == 'desktop' {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 48px;
  }
}

@mixin h2 ($value) {

  @if $value == 'phone' {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  @else if $value == 'desktop' {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 48px;
  }
}

@mixin h3 ($value) {

  @if $value == 'phone' {
    font-size: 14px;
    line-height: 22px;
  }

  @else if $value == 'desktop' {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin h5 ($value) {

  @if $value == 'phone' {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @else if $value == 'desktop' {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@mixin paragraph ($value) {

  @if $value == 'phone' {
    font-size: 13px;
    line-height: 18px;
  }

  @else if $value == 'desktop' {
    font-size: 14px;
    line-height: 22px;
  }
}

