// Responsive breakpoints

@mixin breakpoint ($value, $min-value: null) {

  @if $value == 'phone' {
    @media only screen and (max-width: 320px) { @content; }
  }

  @else if $value == 'to-tablet' {
    @media only screen and (max-width: 1199px) { @content }
  }

  @else if $value == 'tablet' {
    @media only screen and (min-width: 768px) and (max-width: 1199px) { @content }
  }

  @else if $value == 'from-tablet' {
    @media only screen and (min-width: 769px) { @content }
  }

  @else if $value == 'desktop' {
    @media only screen and (min-width: 1200px) { @content }
  }

  @else if $min-value != null {
    @media only screen and (min-width: $min-value) and (max-width: $value){ @content }
  }

  @else {
    @media only screen and (max-width: $value) { @content; }
  }
}

// layout

@mixin flex ($value: null) {
  display: flex;

  @if $value == 'center' {
    justify-content: center;
    align-items: center;
  }

  @else if $value == null {
  }
}

// typography

@mixin subheader ($value) {

  @if $value == 'mobile' {
    font-size: 14px;
    line-height: 22px;
  }

  @else if $value == 'desktop' {
    font-size: 16px;
    line-height: 24px;
  }

  font-weight: bold;
}

@mixin paragraph ($value) {

  @if $value == 'mobile' {
    font-size: 13px;
    line-height: 18px;
  }

  @else if $value == 'desktop' {
    font-size: 14px;
    line-height: 22px;
  }
}

@mixin h5 ($value) {

  @if $value == 'mobile' {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @else if $value == 'desktop' {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  color: $font-color-light;
}

