// colors
$inkstock-blue: #004892;
$inkstock-blue-dark: #002f5f;
$brainflix-blue: #0095ff;
$brainflix-blue-dark: #0065ad;

// neutrals
$white: #ffffff;
$neutral-95: #fafafa;
$neutral-90: #e1e1e1;
$neutral-67: #afafaf;
$neutral-20: #323232;

// theme
$base-font-color: $neutral-20;
